*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    
}

section{
    width: 100%;
    height: 120vh;
    background-color: #FEFBF6;
    background-size: cover;
    background-position: center;
}

.hero{
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-position:center;
    background-color: #FEFBF6;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

hr{
   color: #3D3C42;
   margin-top: 20px;
   height: 1px;
   border: none;
   background: -webkit-gradient(linear,0 0, 100% 0, from(transparent),to(transparent),color-stop(50%,#3D3C42));
}


.logo{
    color: #3D3C42;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 35px;
    -webkit-animation: glow 1.25s ease-in-out infinite alternate;
    -moz-animation: glow 1.25s ease-in-out infinite alternate;
    animation: glow 1.25s ease-in-out infinite alternate;

}

@keyframes glow{
    from{
        
        text-shadow: 0 0 5px #4C4C6D ,0 0 10px rgb(255, 234, 254),0 0 15px rgb(255, 252, 255);
    }
    
}



span{
    color: #DBC4F0;

    }
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a {
    color: #3D3C42;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a:hover{
    cursor: pointer;
    color: #DBC4F0;
    transition: .4s;
}



.Content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

    
    
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
}

.contentt{
    display: flex;
}

.text{
    padding-top: 50px;
}

.contentt h1{
    color: #3D3C42;
    margin: 5px 0px 5px;
    font-size: 75px;
    
}

span{
    color: #DBC4F0;

}

h3{
    margin: 10px 0px 10px;
    font-size: 25px;
    margin-bottom: 50px;
}


.hello{
    margin-bottom :5px;
    letter-spacing: 2px;
    font-size: 30px;
    color: #3D3C42;
}

.imge{
    float: right;
    flex: 1;
    padding-left: 250px;
}

.btns{
    display: flex;
   
    margin-left: 200px;
    margin-top: 0px;
   
}

.btn2{

    width: 150px;
    height: 40px;
    margin-left: 50px;
    
   cursor: pointer;
   display: inline-flex;
  
   
   border: 2px solid #DBC4F0;
   position: relative;
   overflow: hidden;
   
   text-transform: uppercase;
   font-size: .8em;
   
   background-color:#FEFBF6;
   
   align-items: center;
   justify-content: center;


  
}

.btn2 a{
    text-decoration: none;
    color: #3D3C42;
    letter-spacing: 1px;

    position: relative;
    transition: all .45s ease-out;
}

.translate{
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background:#3D3C42 ;
    position: absolute;
    transition: all .3s ease-out;
}

.btn2:hover .translate{
    left: 0;
}

.btn2:hover a{
    color: #DBC4F0;
}

   

.btn2:active{
    border-color: #3D3C42;
    background-color: #DBC4F0;
}

.btn2:active a{
    text-decoration: none;
    color: #3D3C42;
    letter-spacing: 1px;

    position: relative;
    transition: all .45s ease-out;
}

.btn2:active .translate{
    

    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background:#FEFBF6 ;
    position: absolute;
    transition: all .3s ease-out;
    left: 0;
}

div{
    display: block;
}


.About{

    background:#DBC4F0;
    
    height: 70%;
    width: 100%;
    
    
    
    
    
    
    
}

.aligne{
    display: flex;
}
.About img{
    float: right;
    flex: 1;
    width: 400px;
    height: 400px;
    margin: 50px;
    border-radius: 50%;
}



.text1{
    float: left;
    align-items: center;
    
    
   
}

.text1 h1{
    text-align: center;
    color: #3D3C42;
    font-family:'League Spartan', Arial, sans-serif;
    font-size: 30px;
    margin: 10px;
}

.text1 p{
    margin: 20px;
    text-align: left;
    color: #3D3C42;
    font-family:'League Spartan', Arial, sans-serif;
    font-size: 18px;
    
    padding: 40px;
}

.text1 h2{
    text-align: center;
    color:#3D3C42;
    margin: 20px;

}

.doing{

    background:#DBC4F0;
    

    width: 100%;
    height: auto;
    padding: 20px;
 
}


.doing .title{
    text-align: center;
    color: #3D3C42;
    font-family:'League Spartan', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
}

.skillsBox{
    width: 95%;
    height: 70vh;
    
    margin-top: 80px;
    margin-right: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    overflow: hidden;
    
}

.skillsBox .box_content{
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 5px;
    border: 1px solid #FEFBF6;
    margin:  auto 20px;
}

.skillsBox .box_content:hover{
    
      box-shadow: 0 0 5px #5f5f64;
    
}


.skillsBox .box_content .box_icon1 {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    left: 50px;
    top: 30px;
   
    
    
}

.skillsBox .box_content .box_icon2{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    left: 20px;
    top: 5px;
}


.skillsBox .box_content .box_icon3 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50px;
    top: 30px;
    
}

.skillsBox .box_content .box_icon4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50px;
    top: 30px;
    
}

.skillsBox .box_content .box_icon1 p{

    
    font-size: 25px;
    font-weight: bold;
    color:#4C4C6D ;
    position: relative;
    top:-65px;
    left: -50px;
    
}

.skillsBox .box_content .box_icon2 p{

    
    font-size: 25px;
    font-weight: bold;
    color:#4C4C6D  ;
    position: relative;
    top:-40px;
    left: -20px;
    
}

.skillsBox .box_content .box_icon3 p{

    
    font-size: 25px;
    font-weight: bold;
    color:#4C4C6D  ;
    position: relative;
    top:-65px;
    left: -50px;
    
}

.skillsBox .box_content .box_icon4 p{

   
    font-size: 25px;
    font-weight: bold;
    color:#4C4C6D  ;
    position: relative;
    top:-65px;
    left: -50px;
    
}


.experience{

    background:#FEFBF6;
    

    width: 100%;
    height: 300px;
    padding: 20px;
    text-align: center;
    padding: 300px 0;
 
}

.experience h1{
    
    color: #3D3C42;
    font-family:'League Spartan', Arial, sans-serif;
    font-size: 45px;
    
    

}



.contact{

    background:#DBC4F0;
    

    width: 100%;
    height: 400px;
    padding: 20px;
    text-align: center;
    
 
}

.contact h1 {
    color: #3D3C42;
    font-family:'League Spartan', Arial, sans-serif;
    font-size: 40px;
    margin-top: 30px;
}

.contact .socials {
    width: 95%;
    height: 40vh;
    
    margin-top: 0px;
    margin-right: 100px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    overflow: hidden;
}

.contact .socials .social_icons {
    width: 250px;
    height: 150px;
    text-align: center;
    position: relative;
    top: 70px;
    
    left: 150px;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity:1;
}